.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 80px;
  width: 80px;
}

.centeredIcon {
  display: block; /* Makes the SVG a block element */
  margin: 0 auto; /* Centers the SVG horizontally */
  max-width: 100px; /* Set a max-width for consistency */
  height: auto; /* Keeps the aspect ratio */
  margin: auto;
  padding: 1rem 0rem;
}
